<template name="navwidget">
    <div class="row-centered">
        <div id="nav-icon-container" class="col-centered">
            <nav id="nav">
                <a href="{{pathFor 'home'}}" class="fa fa-home fa-4x"><span>Home</span></a>
                <a href="{{pathFor 'survey'}}" class="fa fa-check fa-4x"><span>Survey</span></a>
                <!-- <a href="{{pathFor 'about'}}" class="fa fa-folder fa-4x"><span>About</span></a> -->
                <a href="{{pathFor 'contact'}}" class="fa fa-envelope fa-4x"><span>Contact</span></a>
            </nav>            
        </div>
    </div>
</template>
