<template name="home">
  <div class="container">
    <div class="row">
      <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="featurette">
          <!-- <img class="featurette-image img-circle pull-left" src="girlswaxpot.png"> -->
          <h2 class="featurette-heading">Mobile Health Survey  <span class="text-muted"> Plan for a Healthy Future </span></h2>
          <p class="lead">Get your affairs in order today.</p>

          {{#Animate}}
            <a href="{{pathFor 'survey'}}">
              <button type="submit" name="submit" class="btn btn-info btn-lg pull-right animated tada">Start the survey</button>
            </a>
          {{/Animate}}


        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
    </div>
  </div>
</template>