<template name="survey">
  <div class="container">
    <div class="row">
        <hr class="featurette-divider">

          {{#Animate}}
          <div class="featurette animated fadeIn">
            <!-- <img class="featurette-image img-circle pull-left" src="girlswaxpot.png"> -->
            <h2 class="featurette-heading">Welcome <span class="text-muted"> This survey will take 10mins.  You can swipe left and right to go back and forwards through the questions.</span></h2>
          
            <p class="lead">Lets get started!</p>
          </div>
          {{/Animate}}

        <hr class="featurette-divider">

    </div>
  </div>
</template>